{% include base_path %}



<div class="feature__wrapper">

{% for post in site.posts limit:3 %}

    {% if post.url contains "://" %}
      {% capture post_url %}{{ post.url }}{% endcapture %}
    {% else %}
      {% capture post_url %}{{ post.url | prepend: base_path }}{% endcapture %}
    {% endif %}

    <div class="feature__item{% if include.type %}--{{ include.type }}{% endif %}">
      <div class="archive__item">
        {% if post.image_path %}
          <div class="archive__item-teaser">
            <img src=
              {% if post.image_path contains "://" %}
                "{{ post.image_path }}"
              {% else %}
                "{{ post.image_path | prepend: "/images/" | prepend: base_path }}"
              {% endif %}
            alt="{% if post.alt %}{{ post.alt }}{% endif %}">
          </div>
        {% endif %}

        <div class="archive__item-body">
          {% if post.title %}
            <h2 class="archive__item-title">{{ post.title }}</h2>
          {% endif %}

          {% if post.excerpt %}
            <div class="archive__item-excerpt">
              {{ post.excerpt | markdownify }}
            </div>
          {% endif %}

          {% if post.url %}
            <p><a href="{{ post_url }}" class="btn {{ f.btn_class }}">{{ post.btn_label | default: site.data.ui-text[site.locale].more_label }}</a></p>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}

</div>
